<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>
	<style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
     
     
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:30px; }
		#update-form 	 			{ margin-bottom:30px; }
		
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	 <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  

	<script src="javascripts/controllers/main.js"></script> <!-- load up our controller -->
	<script src="javascripts/services/todos.js"></script> <!-- load our todo service -->
	<script src="javascripts/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">

		<!-- FORM TO CREATE TODOS -->

		
		

		<!-- TODO LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-9 ">
				<div class="panel panel-default">
				  <div class="panel-heading">Create New User
				  		 
				  </div>
				  <div class="panel-body">
				    	<div class="col-sm-12">
						<form class="form-inline" role="form">					
						  <div class="form-group col-sm-2">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="user" placeholder="User" ng-model="formData.userName">
						    </div>				    
						  </div>

						  <div class="form-group col-sm-3">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="first" placeholder="FirstName" ng-model="formData.firstName">
						    </div>				    
						  </div>

						  <div class="form-group col-sm-3">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="last" placeholder="LastName" ng-model="formData.lastName">
						    </div>				    
						  </div>

						  <div class="form-group col-sm-2">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="last" placeholder="password" ng-model="formData.password">
						    </div>				    
						  </div>

						  <button type="submit" class="btn btn-primary" ng-click="createTodo()">Add</button>
			  
						 
						</form>

					</div>
				  </div>
				</div>
				

				
						

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<table class="table">
					<tr>
			          <th>User</th>
			          <th>First Name</th>
			          <th>Last Name</th>
			          <th></th>
			          <th></th>
			          
			        </tr>
  					<tr ng-repeat="todo in todos">						
						<td >{{ todo.userName }}</td>
						<td >{{ todo.firstName }}</td>
						<td >{{ todo.lastName }}</td>
						<td ><button type="button" class="btn btn-danger" ng-click='deleteTodo(todo["_id"],todo.user)'>Delete</button></td>
						<td ><button type="button" class="btn btn-info" ng-click='loadUser(todo["_id"])'>Select</button></td>
																		
					</tr>
				</table>


				<div id="update-form" class="row">
					<div class="col-sm-12">
						<form class="form-inline" role="form">
						  <div class="form-group col-sm-3">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="user" placeholder="User" ng-model="user.userName">
						    </div>				    
						  </div>

						  <div class="form-group col-sm-3">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="first" placeholder="FirstName" ng-model="user.firstName">
						    </div>				    
						  </div>

						  <div class="form-group col-sm-3">
						    <div class="input-group">				      
						      <input type="text" class="form-control" id="last" placeholder="LastName" ng-model="user.lastName">
						    </div>				    
						  </div>						  
			  
						  <button type="submit" class="btn btn-info" ng-click="updateUser()">Update</button>
						</form>

					</div>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>

			<div class="col-sm-3">
					<ul id="messages" class="list-group"></ul>			
				</div>
		</div>

		

	</div>

	<p>
	    <ul id="messages" class="list-group"></ul>	    
	</p>

</body>
</html>
